<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Développeur Web Bouderga</title>
    <meta name="description" content="Développeur web spécialisé en Node.js et MongoDB. Découvrez mes projets innovants et renforcez votre présence digitale avec des solutions sur mesure.">
    <meta name="keywords" content="développeur web, Node.js, MongoDB, portfolio, projets innovants">
    <meta name="author" content="Abdel-Samade Bouderga">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="shortcut icon" href="/public/img/logo/solo_ab_logo.png" type="image/x-icon">

    <meta property="og:title" content="Portfolio développeur web Bouderga Abdel-samade">
    <meta property="og:description" content="Développeur web spécialisé en Node.js et MongoDB. Explorez mes projets innovants et renforcez votre présence digitale avec des solutions sur mesure.">
    <meta property="og:image" content="/public/img/elements/photo_presentation_3.jpg">

    <!-- Liens vers les profils sur les réseaux sociaux -->
    <meta property="og:linkedin" content="https://www.linkedin.com/in/abdel-samade-bouderga-b814a2248/">
    <meta property="og:github" content="https://github.com/apsamade">
    <meta property="og:instagram" content="https://www.instagram.com/apsamade78/">

</head>
<body>
    <% if(user){ %>
        <% if(user.admin){ %>
            <%- include('partials/navAdmin') %>
        <% }else{ %>
            <%- include('partials/navUser') %>
        <% } %>
    <% }else{ %>
        <%- include('partials/nav') %>
    <% } %>
    
    <header>
        <h1>Portfolio Bouderga Abdel-samade</h1>
        <p>Développeur web spécialisé en Node.js et MongoDB, façonnant des expériences en ligne uniques. Explorez mon portfolio pour découvrir mes projets innovants.</p>
        <a href="/blog">Mon Blog</a>
        <img src="/public/img/elements/pc_portable.png" alt="Pc portable">
    </header>

    <section class="stacks">
        <div>
            <img src="/public/img/elements/html_logo.png" alt="Html">
            <h4>Html</h4>
        </div>
        <div>
            <img src="/public/img/elements/css_logo.png" alt="Css">
            <h4>Css</h4>
        </div>
        <div>
            <img src="/public/img/elements/js_logo.png" alt="JavaScript">
            <h4>Js</h4>
        </div>
        <div>
            <img src="/public/img/elements/mongo_db_logo.png" alt="Mongo DB">
            <h4>MongoDB</h4>
        </div>
    </section>

    <section class="presentation">
        <img src="/public/img/elements/photo_presentation_3.jpg" alt="photo de abdel-samade bouderga">
        <div>
            <h3>
                Qui suis-je ?
            </h3>
            <p>
                Abdel-Samade Bouderga, 21 ans, développeur web spécialisé en Node.js et MongoDB, je privilégie la concision et la clarté. Ma maîtrise technique, notamment de Node.js et MongoDB, se conjugue à ma jeunesse, détermination, et orientation vers des solutions fonctionnelles.
            </p>
            <p>
                Ayant toujours été passionné par le codage et le développement, je me suis orienté vers une formation de développeur web chez WF3 pour vivre de ma passion. J'ai obtenu mon titre RNCP de niveau 5 en 2023 et suis désormais officiellement développeur web.
            </p>
            <p>
                Mes objectifs à court terme incluent la réalisation d'une quinzaine de projets et l'intégration au sein d'une équipe pour mettre pleinement à profit mes compétences. À plus long terme, ma vision s'étend vers la gestion de plusieurs sites web, avec pour objectif principal la génération continue de revenus.
            </p>
            <a target="_blank" href="/public/img/cv/Bouderga Abdel-samade (4).pdf">Mon CV</a>
        </div>
    </section>

    <h2 class="titre-service">Mes Services</h2>
    <section class="services">
        <div style="background-image: url(/public/img/elements/site_e_commerce.jpg);"><h3>Site E-commerce</h3></div>
        <div style="background-image: url(/public/img/elements/site_vitrine.jpg)"><h3>Site Vitrine</h3></div>
        <div style="background-image: url(/public/img/elements/blog.jpg)" class="grand"><h3>Blog</h3></div>
        <div style="background-image: url(/public/img/elements/site_booking.jpg);"><h3>Site de réservation</h3></div>
        <div style="background-image: url(/public/img/elements/site_crowfunding.jpg);"><h3>Site de crowdfunding</h3></div>
    </section>
    <section class="skills">
        <h2>Mes Compétences</h2>
        <div class="infos">
            <div class="front">
                <h3>Front-End</h3>
                <ul>
                    <li>Html</li>
                    <li>Css</li>
                    <li>JavaScript</li>
                    <li>Ejs</li>
                    <li>ReactJs</li>
                    <li>Angular</li>
                </ul>
            </div>
            <div class="back">
                <h3>Back-End</h3>
                <ul>
                    <li>NodeJs</li>
                    <li>Mongo DB</li>
                    <li>PHP</li>
                    <li>Laravel</li>
                    <li>Symfony</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
        <script src="/public/js/skills.js"></script>
    </section>
    <main>
        <h2>Mon Portfolio</h2>
        <section class="portfolio">
            <div class="projets">
                <% projets.forEach(projet =>{ %>
                    <a target="_blank" href="<%= projet.link %>">
                        <div class="projet">
                            <img src="<%= projet.image %>" alt="<%= projet.name %>">
                            <h4><%= projet.name %></h4>
                        </div>
                    </a>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>
</body>
</html>
