<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Bouderga | Supprimer Projet</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/modProject.css">
    <link rel="shortcut icon" href="/public/img/logo/solo_ab_logo.png" type="image/x-icon">
</head>
<body>
    <% if(user){ %>
        <% if(user.admin){ %>
            <%- include('../../partials/navAdmin') %>
        <% }else{ %>
            <%- include('../../partials/navUser') %>
        <% } %>
    <% }else{ %>
        <%- include('../../partials/nav') %>
    <% } %>
    <% if(typeof message != 'undefined'){ %>
        <div style="color: green;" class="message"><%= message %></div>
    <% }else{ %>
        <header>
            <h1>Suppression du projet : <%= project.name %></h1>
        </header>
        <form method="POST" enctype="multipart/form-data">
            <div class="project">
                <img src="<%= project.image %>" alt="<%= project.name %>">
                <div class="price">
                    <input type="text" name="name" id="name" placeholder="Nomp du project : <%= project.name %>">
                    <input type="file" name="image" id="image">
                    <input type="text" name="link" id="link" placeholder="Lien du site : <%= project.link %>">
                </div>
                <div class="modif">
                    <a href="/admin/portfolio">Annuler</a>
                    <input type="submit" value="Supprimer">
                </div>
            </div>
        </form>
    <% } %>
</body>
</html>