<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Bouderga | Compte</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/adminBlog.css">
    <link rel="shortcut icon" href="/public/img/logo/solo_ab_logo.png" type="image/x-icon">
</head>
<body>
    <% if(user){ %>
        <% if(user.admin){ %>
            <%- include('../../partials/navAdmin') %>
        <% }else{ %>
            <%- include('../../partials/navUser') %>
        <% } %>
    <% }else{ %>
        <%- include('../../partials/nav') %>
    <% } %>
        <form method="post" enctype="multipart/form-data">
            <h1>Ajout d'un article de blog</h1>
            <% if(typeof message != 'undefined'){ %>
                <div class="message">
                    <span><%= message %></span>
                    <a href="<%= projet.link %>"></a>
                        <div class="info">
                            <img src="<%= projet.image %>" alt="<%= projet.name %>">
                            <h4><%= projet.name %></h4>
                        </div>
                    </a>
                </div>
            <% }else{ %>
                <div>
                    <input type="text" name="name" id="name" placeholder="Nom du projet ...">
                    <input type="text" name="link" id="link" placeholder="Lien du projet ...">
                    <input type="file" name="image" id="image" placeholder="Image du projet ">
                    <input type="submit" value="Valider">
                </div>
            <% } %>
        </form>
</body>
</html>